<div class="loader-indicator-wrapper">
   <div class="loader-indicator">
       <img class="loader-indicator__image" src="/assets/images/Loading.gif" alt="loader"/>
       <p class="loader-indicator__text">Loading</p>
 	</div>
</div>
