@import 'variables';

.loader-indicator-wrapper {
    display: flex;
    height: 100%;
    //flex-direction: column;
    justify-content: center;
}

.loader-indicator{
  cursor:default;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 18px;
  color: @grayforte;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0;
  &__image{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  &__text {
    cursor: default;
  }
}