@gray: #e6e6e6;
@grayforte:#666666;
@commongray: #333333;
@blue: #37A3DC;
@blueforte: #0187D0;
@green: #2fe29b;
@darkgreen: #4eb58c;
@black: #000000;
@white:#ffffff;
@whiteforte: #f1f1f1;
@red:#e74c3c;

@disabled: #cccccc;


