<div class="content">
	<div class="row text" [hidden]="loading">
		<p class="message">
		  <span class="mark">
			<i class="fa fa-quote-left" aria-hidden="true"></i>
		  </span>
		  <mat-icon>format_quote</mat-icon><label>{{quote}}</label><mat-icon>format_quote</mat-icon>
		</p>
		<p class="authorname"><label>{{author}}</label></p>
	</div>
	<app-loading [hidden]="!loading"></app-loading>
	<div class="row buttons">
		<button class="button pull-right" (click)="openMailDialog()">
			<mat-icon>email</mat-icon>
		</button>
		<button class="button pull-right" (click)="getQuotes()">
			<mat-icon aria-label="Refresh">arrow_forward_ios</mat-icon>
		</button>
	</div>
</div>
