@import 'variables';

//square

.button{
  background-color: @red;
  border: none; 
  padding: 10px; 
  color: @white; 
  font-size: 14px; 
}
.text{
  color: @red; 
}
.sig {
  text-align: center; 
  color: @white; 
  margin: 10px; 
}
.mark{
  font-size: 36px; 
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

.content {
  margin: auto; 
  margin-top: 100px; 
  width: 50%; 
  background-color: @white; 
  padding-top: 30px;
  padding-bottom: 30px; 
  padding-right: 40px; 
  padding-left: 40px; 
}

.message{
  text-align: center; 
  font-size: 24px; 
}

.authorname{
  text-align: right; 
}
