<h1 mat-dialog-title class="margin-size-0">Send this Quote to a friend</h1>
<div mat-dialog-content>
  <mat-form-field class="input-full-width">
    <p>Enter your Name</p>
  	<input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field class="input-full-width" >
    <p>Email from a Friend</p>
  	<input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions class="display-between">
  <button mat-button (click)="onNoClick()">No, thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Send mail</button>
</div>
