.layout-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.margin-size-0 {
	margin: 0;
}
.input-full-width {
  width: 100%;
}
.display-between {
	display: flex;
	justify-content: space-between;
}